.myGrid{
  display: grid;
  grid-template-columns: 225px 1fr 1fr 1fr 225px;
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:
      "logo header header header ."
      ". title title title ."
      "sidenav info info info2 .";
    }
    #logo {grid-area: logo;}
    #logo {height: 150px;}
    #CompanyName {grid-area: header;}
    #ContactTitle {grid-area: title;}
    #Empty {
      grid-area: info2;
      width: 100%;
      background-color: white;
    }
    #ContactTitle {
      color: black;
      text-align:center;
      font-size: 40px;
      font-family: 'Amethysta', serif;
    }
    #CompanyName {
      font-size: 90px;
      vertical-align:top;
      text-align:center;
      font-family: 'Alice', serif;
    }
    #ContactTitle {
      color: black;
      text-align:center;
      font-size: 40px;
    }

#MyNavBar {
  grid-area: sidenav;
  margin-right: 10px;}
#MyNavBar ul {
    list-style-type: none;
    padding-inline-start: 0px;

  }

  #MyNavBar ul li:hover {
    background-color: #EF6DA7;
    color: white;
  }

#MyNavBar ul li:hover a {
  color: white;
}

#MyNavBar ul li {
  padding: 15px;
}

  #Home a {
    color: black;
    font-size: 45px;
    font-family: 'Amethysta', serif;
    text-decoration: none;
    cursor: pointer;
  }

  #Gallery a {
    color: black;
    font-size: 45px;
    font-family: 'Amethysta', serif;
    text-decoration: none;
    cursor: pointer;
  }

  #AboutMe a {
    color: black;
    font-size: 45px;
    font-family: 'Amethysta', serif;
    text-decoration: none;
    cursor: pointer;
  }

  #Contact a {
    color: black;
    font-size: 45px;
    font-family: 'Amethysta', serif;
    text-decoration: none;
    cursor: pointer;
  }

  form h1 {
    text-align: center;
  }
.ContactInfo {
  grid-area: info;
  background-color: white;
  padding: 10px;
}

#FullNameContainer label,
#EmailContainer label,
#MessageContainer label {
  display: block;
  margin-bottom: 5px;}

#MessageContainer textarea {
height: 200px;
width: calc(100% - 10px);
}
#FullNameContainer input,
#EmailContainer input {
  height: 30px;
  width: calc(50% - 10px);
}
#Button {
  background-color: #A9DEEC;
  padding: 10px;
  border: none;
}
#Button:hover {
  color: white;
  cursor: pointer;
}
