.myGrid{
  display: grid;
  grid-template-columns: 225px 1fr 1fr 1fr 225px;
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:
      "logo header header header ."
      ". title title title ."
      "sidenav gallery1 gallery2 gallery3 .";
}
#logo {grid-area: logo;}
#logo {height: 150px;}
#CompanyName {grid-area: header}
#GalleryTitle {grid-area: title}
#Col1 { grid-area: gallery1; text-align: center;}
#Col2 { grid-area: gallery2; text-align: center;}
#Col3 { grid-area: gallery3; text-align: center;}


#Col1 img { width: calc(100% - 40px); margin: 20px;}
#Col2 img { width: calc(100% - 40px); margin: 20px;}
#Col3 img { width: calc(100% - 40px); margin: 20px;}
#CompanyName {
  font-size: 90px;
  vertical-align:top;
  text-align:center;
  font-family: 'Alice', serif;
}
#GalleryTitle {
  color: black;
  text-align:center;
  font-size: 40px;
}
#MyNavBar {
  grid-area: sidenav;
  margin-right: 10px;}
#MyNavBar ul {
    list-style-type: none;
    padding-inline-start: 0px;

  }

  #MyNavBar ul li:hover {
    background-color: #EF6DA7;
    color: white;
  }

#MyNavBar ul li:hover a {
  color: white;
}

#MyNavBar ul li {
  padding: 15px;
}

  #Home a {
    color: black;
    font-size: 45px;
    font-family: Garamond;
    text-decoration: none;
    cursor: pointer;
  }

  #Gallery a {
    color: black;
    font-size: 45px;
    font-family: Garamond;
    text-decoration: none;
    cursor: pointer;
  }

  #AboutMe a {
    color: black;
    font-size: 45px;
    font-family: Garamond;
    text-decoration: none;
    cursor: pointer;
  }

  #Contact a {
    color: black;
    font-size: 45px;
    font-family: Garamond;
    text-decoration: none;
    cursor: pointer;
  }
  .PortfilioParts {
    background: white;
  }

  @media screen and (max-width: 800px) {
    .myGrid{
      grid-template-columns:  1fr 1fr 1fr;
      grid-template-areas:
        ". logo ."
        "header header header"
        "title title title"
        "sidenav sidenav sidenav"
        "gallery1 gallery2 gallery3";
    }
    #CompanyName {font-size: 70px;
    justify-content: center;
  }
  #MyNavBar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #Col1 img { width: calc(100% - 20px); margin: 10px;}
  #Col2 img { width: calc(100% - 20px); margin: 10px;}
  #Col3 img { width: calc(100% - 20px); margin: 10px;}
