#Owner-Logo{
display: flex;
flex-direction: row;
align-items: center;
}
#NavBarDIV {
  text-align: center;
  border-bottom: 2px solid black;
}
#MyNavBar ul {
    background: white;
    list-style-type: none;
    padding-inline-start: 0px
  }

  #NaviBar ul li:hover {
    background: #6F0006;
    color: white;}

#NaviBar ul li {
  display: inline-block;
  padding: 12px 10px;
  text-align: center;
  font-size: 20px;
}

#WebsiteOwner {
  font-size: 40px;
  font-weight: bold;
}

#grid {
  grid-template-columns: 1fr 333px 334px 333px 1fr;
}
#FireandIce {
text-align: center;
}
