<!DOCTYPE html>
<html>
  <head>
    <title>HI THERE!</title>
    <style>
    #MyNavBar ul {
        background: white;
        list-style-type: none;
        padding-inline-start: 0px
      }

      #MyNavBar ul li:hover {
        background: #ff007f}

    #MyNavBar ul li {
      display: inline-block;
      padding: 12px 24px;
    }
    </style>
  </head>
  <body style="
  background-color: #FFC0CB";>
    <nav id="MyNavBar">
      <ul>
      <li>Home</li>
      <li>Gallery</li>
      <li>About Me</li>
      <li>Contact</li>
    </ul>
    </nav>

  </body>
</html>
